<div data-page="contact" data-content="pe" class="full-height">
    
    <header>
       
        <div class="col-md-6">
            <hgroup>
                <h1><a href="./">seber&morais</a></h1>
            </hgroup>
        </div>
        
        <div class="col-md-6 text-right">
            <nav>
                <ul class="menu-list">
                    <li>Sobre nós
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <span class="right"></span>
                        <span class="left"></span>
                        <span class="full"></span>
                        
                        <ul class="submenu-list about">
                            <li><a href="./sobre-nos">Sobre nós</a></li>
                            <li><a href="./contato">Contato</a></li> 
                        </ul> 
                    </li>
                    
                    <li>Projetos
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <span class="right"></span>
                        <span class="left"></span>
                        <span class="full"></span>
                        
                        <ul class="submenu-list">
                            <li><a href="./{{urlmain}}/projetos/arquitetura">Arquitetura</a></li>
                            <li><a href="./{{urlmain}}/projetos/comerciais">Comerciais</a></li>
                            <li><a href="./{{urlmain}}/projetos/interiores">Interiores</a></li>
                        </ul> 
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>
    
    <div class="content">
        <div class="header">
            <h1>Atendimento especializado para<br>necessidades especiais.</h1>
            <h2>Quer falar com a gente? Entre em contato através do formulário abaixo.</h2>
        </div>
       
        <form>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="name" id="name" value="" required autofocus/> 
                    <label>Nome</label>
                </div>

                <div class="col-md-4">
                    <input type="text" name="name" id="name" value="" required/> 
                    <label>E-mail</label>
                </div>

                <div class="col-md-4">
                    <input type="text" name="name" id="name" value="" required/> 
                    <label>Telefone</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <input type="text" name="name" id="name" value="" required/> 
                    <label>Mensagem</label>
                </div>
                
                <div class="action col-md-4">
                    <input type="submit" value="Enviar"/> 
                </div>
            </div>
        </form>
        
        <address>
            <span>19 3468.2704<i>|</i>19 3407.2454</span>
            Rua Florindo Cibin, 317, Vila Medon, Americana/SP, 13465-230
        </address>
    </div>
    
    <footer>
        
        <div class="col-md-6">
            <nav class="social">
                <ul>
                    <li><a href="#" target="_blank">Facebook</a></li>
                    <li><a href="#" target="_blank">Instagram</a></li>
                </ul>
            </nav>
            
            <span class="copyright">© 2017 seber&morais Todos os direitos reservados.</span>
        </div>
        
        <div class="col-md-6 text-right">
            <a href="http://www.groweb.com.br" target="_blank" class="groweb"> </a>
        </div>
        
    </footer>
    
</div>