<div data-page="about" data-content="pe" class="full-height">
    
    <header>
       
        <div class="col-md-6">
            <hgroup>
                <h1><a href="./">seber&morais</a></h1>
            </hgroup>
        </div>
        
        <div class="col-md-6 text-right">
            <nav>
                <ul class="menu-list">
                    <li>Sobre nós
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <span class="right"></span>
                        <span class="left"></span>
                        <span class="full"></span>
                        
                        <ul class="submenu-list about">
                            <li><a href="./sobre-nos">Sobre nós</a></li>
                            <li><a href="./contato">Contato</a></li> 
                        </ul> 
                    </li>
                    
                    <li>Projetos
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <span class="right"></span>
                        <span class="left"></span>
                        <span class="full"></span>
                        
                        <ul class="submenu-list">
                            <li><a href="./{{urlmain}}/projetos/arquitetura">Arquitetura</a></li>
                            <li><a href="./{{urlmain}}/projetos/comerciais">Comerciais</a></li>
                            <li><a href="./{{urlmain}}/projetos/interiores">Interiores</a></li>
                        </ul> 
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>
    
    <div class="content">
        <div class="header">
            <h1>O escritório</h1>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean odio nulla, pulvinar eu hendrerit id, tincidunt at erat. Aenean vel sodales mi. Phasellus tincidunt arcu eu magna vulputate aliquet. Vestibulum convallis at est sit amet ullamcorper. Pellentesque congue neque felis. Nunc nec odio malesuada, semper risus eget, condimentum est. Phasellus ultrices condimentum magna vel tristique.</p>
            <p>In efficitur et ante eget ultricies. Morbi suscipit dictum nunc, a laoreet est volutpat commodo. Proin a mattis velit. Maecenas id metus id sapien suscipit pellentesque pellentesque vel augue. Praesent semper posuere nisl et venenatis. Pellentesque auctor ex nec nibh malesuada, in mollis eros porta. Cras pellentesque odio eu dignissim suscipit. Phasellus ultricies lectus diam, eget varius orci porta ac. Nullam facilisis id ex id feugiat. Mauris leo orci, scelerisque et nulla ac, bibendum pellentesque mi. Etiam eleifend risus vel ligula molestie, molestie congue diam pellentesque. Vivamus imperdiet et turpis id iaculis.</p>
        </div>
    </div>
    
    <footer>
        
        <div class="col-md-6">
            <nav class="social">
                <ul>
                    <li><a href="#" target="_blank">Facebook</a></li>
                    <li><a href="#" target="_blank">Instagram</a></li>
                </ul>
            </nav>
            
            <span class="copyright">© 2017 seber&morais Todos os direitos reservados.</span>
        </div>
        
        <div class="col-md-6 text-right">
            <a href="http://www.groweb.com.br" target="_blank" class="groweb"> </a>
        </div>
        
    </footer>
    
</div>