//Header
header {
    display: flex;
    padding: 45px;
        
    h1 {
        width: 246px;
        height: 48px;
        text-indent: -9999px;
        
        a {
            width: 246px;
            height: 48px;
            text-indent: -9999px;
            display: block;
        }
    }
    
    nav {
        
        ul.menu-list {
            z-index: 99999;
            
            li {
                z-index: 99999;
                line-height: 13px;
                font-size: 14px;
                font-weight: 900;
                text-transform: uppercase;
                border: 1px solid;
                float: right;
                position: relative;
                padding: 18px 32px;
                margin-left: 25px;
                cursor: pointer;
                
                ul.submenu-list {
                    position: absolute;
                    left: 13px;
                    top: 60px;
                    min-width: 137px;
                    
                    
                    li {
                        opacity: 0;
                        transition: visibility 0s ease-in-out, opacity 0.2s ease-in-out;
                        visibility: hidden;
                        border-style: dashed;
                        border-bottom: none;
                        border-top: none;
                        float: none;
                        padding: 0px 10px 0px 10px;
                        margin: 0;
                        font-size: 13px;
                        font-weight: 300;
                        text-align: center;
                        line-height: 24px;
                          
                        a {
                            border-bottom: 2px solid;
                            text-decoration: none;
                            width: 100%;
                            display: block;
                            padding: 10px 10px 5px 10px;
                        }
                        
                        &:after {
                            content: none;
                        }
                        
                        &:first-child {
                        }
                        
                        &:last-child {
                            border-bottom: 1px dashed;
                            padding-bottom: 10px;
                            
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                    
                    &.about {
                        min-width: 147px;
                    }
                }
                
/*                &:after {
                    content: "";
                    border: 1px dashed;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }*/

                span.full {
                    position: absolute;
                    bottom: -13px;
                    right: -13px;
                    display: block;
                    height: 100%;
                    width: 100%;
                }
                
                span.left {
                    position: absolute;
                    bottom: -13px;
                    left: 13px;
                    display: block;
                    height: 20%;
                    border-left: 1px dashed white;
                    width: 0;
                }
                
                span.right {
                    position: absolute;
                    bottom: -13px;
                    right: -13px;
                    display: block;
                    height: 100%;
                    border-right: 1px dashed white;
                    width: 0;
                }
                
                span.top {
                    position: absolute;
                    top: 13px;
                    right: -13px;
                    display: block;
                    height: 0;
                    border-top: 1px dashed white;
                    width: 8%;
                }
                
                span.bottom {
                    position: absolute;
                    bottom: -13px;
                    right: -13px;
                    display: block;
                    height: 0;
                    border-bottom: 1px dashed white;
                    width: 100%;
                }
                
                &:hover {
                    
                    span.bottom {
                        display: none;
                    }
                    
                    ul.submenu-list {
                        
                        li {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

//Footer
footer {
    display: flex;
    padding: 45px;
    
    a.groweb {
        width: 66px;
        height: 24px;
        display: inline-block;
        text-indent: -9999px;
    }
    
    .social {
        font-weight: 700;
        text-transform: uppercase;
        
        li {
            display: inline-block;
            
            &:first-child {
                margin-right: 15px;
            }
        }
    }
    
    .copyright {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 5px;
        display: block;
    }
}

//Sections
div[data-content=di] {
    color: #5e5e5e;
    
    a {
        color: #e37478;
    }
    
    header {
        
        h1 {
          background: url('../images/logos/header-gray.png') no-repeat;
        }    
        
        li {
            
            a {
                color: #5e5e5e !important;
            }
    
            .bottom, .right, .left, .top {
                border-color: #5e5e5e !important;
            }
                    
            ul.submenu-list {

                li {
                    border-color: #5e5e5e !important;
                    
                    a {
                        &:hover {
                            background: #5e5e5e !important;
                            color: white !important;
                            border-color: #5e5e5e !important;
                        }
                    }

                    &:last-child {
                        border-bottom: 1px dashed #5e5e5e !important;
                    }
                }
            }
        }
    }
    
    footer {
    
        a.groweb {
            background: url('../images/logos/groweb-gray.png') no-repeat;
        }
       
    }
}

div[data-content=go] {
    color: white !important;
    
    a {
        color: white !important;
    }
    
    header {
        
        h1 {
          background: url('../images/logos/header-white.png') no-repeat;
        }
        
        li {

            ul.submenu-list {

                li {
                    border-color: white !important;

                    a {
                        &:hover {
                            background: white !important;
                            color: #ff8615 !important;
                            border-color: white !important;
                        }
                    }

                    &:last-child {
                        border-bottom: 1px dashed white !important;
                    }
                }
            }
        }
    }
    
    footer {
    
        a.groweb {
            background: url('../images/logos/groweb-white.png') no-repeat;
        }
       
    }
}

div[data-content=pe] {
    color: #5e5e5e;
    
    a {
        color: #7f2685;
    }
    
    header {
        
        h1 {
          background: url('../images/logos/header-gray.png') no-repeat;
        }
        
        li {
            
            a {
                color: #5e5e5e !important;
            }
            
            .bottom, .right, .left, .top {
                border-color: #5e5e5e !important;
            }
            
            ul.submenu-list {

                li {
                    border-color: #5e5e5e !important;

                    a {
                        &:hover {
                            background: #5e5e5e !important;
                            color: white !important;
                            border-color: #5e5e5e !important;
                        }
                    }

                    &:last-child {
                        border-bottom: 1px dashed #5e5e5e !important;
                    }
                }
            }
        }
    }
    
    footer {
    
        a.groweb {
            background: url('../images/logos/groweb-gray.png') no-repeat;
        }
       
    }
}