//Home
div[data-page=home] {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white;

    .content {
        display: flex;
        flex: 1;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -webkit-perspective: 1000px;
    
        .timeline {
            width: 600px;
            height: 550px;
            margin: 0 auto;
            position: relative;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(0px);
            -moz-transform: translateZ(0px);
            -webkit-transform: translateZ(0px);
            
            .dashed2 {
                border: 1px solid gold;
                width: 590px;
                height: 540px;
                position: absolute;
                top: 5px;
                left: 5px;
                
                transform: translateZ(40px);
                -moz-transform: translateZ(40px);
                -webkit-transform: translateZ(40px);
            }
            
            
            .dashed {
                border: 2px dashed #afafaf;
                width: 600px;
                height: 550px;
                position: absolute;
                top: 0;
                left: 0;
                
                transform: translateZ(0px);
                -moz-transform: translateZ(0px);
                -webkit-transform: translateZ(0px);
            }
            
            .cursor {
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 3px solid #cccccc;
                cursor: pointer;
                
                transform: translateZ(65px);
                -moz-transform: translateZ(65px);
                -webkit-transform: translateZ(65px);
            }
            
            .main {
                transform: translateZ(60px);
                -moz-transform: translateZ(60px);
                -webkit-transform: translateZ(60px);
                
                width: 600px;
                height: 550px;
                position: absolute;
                top: 0;
                left: 0;
                
                .picture {
                    position: absolute;
                    top: 90px;
                    left: 50%;
                    margin-left: -125px;
                    width: 250px;
                    height: 219px;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .desc {
                    position: absolute;
                    top: 330px;
                    left: 0;
                    width: 100%;
                    display: block;
                    font-size: 18px;
                    text-align: center;
                    font-family: 'focobold';
                }
                
                .more {
                    position: absolute;
                    top: 400px;
                    left: 50%;
                    margin-left: -72px;
                    width: 145px;
                    height: 78px;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
            }

            .banner {
                transform: translateZ(100px);
                -moz-transform: translateZ(100px);
                -webkit-transform: translateZ(100px);

                position: absolute;
                right: -160px;
                bottom: -75px;
                width: 380px;
                height: 360px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            div[data-ref=di].main {
                opacity: 0;
  
                .picture {
                    background-image: url('../images/misc/main-di.png');
                }
                
                .more {
                    background-image: url('../images/misc/more-di.png');
                }
            }
            
            div[data-ref=di].banner {
                opacity: 0;
                background-image: url('../images/misc/home-di.png');
            }

            div[data-ref=go].main {
                opacity: 0;

                .picture {
                    background-image: url('../images/misc/main-di.png');
                }
                
                .more {
                    background-image: url('../images/misc/more-di.png');
                }
            }
            
            div[data-ref=go].banner {
                opacity: 0;
                background-image: url('../images/misc/home-go.png');
            }
            
            
            div[data-ref=pe].main {
                display: block;

                .picture {
                    background-image: url('../images/misc/main-di.png');
                }
                
                .more {
                    background-image: url('../images/misc/more-di.png');
                }
            }
            
            div[data-ref=pe].banner {
                background-image: url('../images/misc/home-pe.png');
            }
        }
    }
}

div[data-content=di] {

    .cursor {
        background: #c76367;
    }
}

div[data-content=go] {

    .cursor {
        background: white;
    }
}

div[data-content=pe] {

    .cursor {
        background: #7f2685;
    }
}