//Home
div[data-page=home] {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white;

    .content {
        display: flex;
        flex: 1;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -webkit-perspective: 1000px;
    
        .timeline {
            width: 600px;
            height: 550px;
            margin: 0 auto;
            position: relative;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(0px);
            -moz-transform: translateZ(0px);
            -webkit-transform: translateZ(0px);
            
            .solid {
                width: 600px;
                height: 550px;
                position: absolute;
                top: 0px;
                left: 0px;
                
                transform: translateZ(30px);
                -moz-transform: translateZ(30px);
                -webkit-transform: translateZ(30px);
                
                .bottom {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    height: 2px;
                    width: 50%;
                    
                    &.ver {
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        display: block;
                        width: 2px;
                        height: 12px;
                    }
                }
                
                .top {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    height: 2px;
                    width: 100%;
                }
                
                .left {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 2px;
                    height: 100%;
                }
                
                .right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: 2px;
                    height: 50%;
                    
                    &.hor {
                        position: absolute;
                        right: -5px;
                        top: 50%;
                        display: block;
                        height: 2px;
                        width: 12px;
                    }
                }
            }
            
            
            .dashed {
                border: 1px dashed #c7c7c7;
                width: 600px;
                height: 550px;
                position: absolute;
                top: 0;
                left: 0;
                
                transform: translateZ(0px);
                -moz-transform: translateZ(0px);
                -webkit-transform: translateZ(0px);
            }
            
            .cursor {
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 3px solid #cccccc;
                cursor: pointer;
                
                transform: translateZ(65px);
                -moz-transform: translateZ(65px);
                -webkit-transform: translateZ(65px);
            }
            
            .main {
                transform: translateZ(60px);
                -moz-transform: translateZ(60px);
                -webkit-transform: translateZ(60px);
                
                width: 600px;
                height: 550px;
                position: absolute;
                top: 0;
                left: 0;
                
                .picture {
                    position: absolute;
                    top: 90px;
                    left: 50%;
                    margin-left: -125px;
                    width: 250px;
                    height: 200px;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                
                .desc {
                    position: absolute;
                    top: 320px;
                    left: 0;
                    width: 100%;
                    display: block;
                    font-size: 18px;
                    text-align: center;
                    font-family: 'focobold';
                }
                
                .more {
                    position: absolute;
                    top: 400px;
                    left: 50%;
                    margin-left: -72px;
                    width: 145px;
                    height: 78px;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
            }
            
            .details {
                display: none;
                opacity: 0;
                height: 480px;
                width: 740px;
                position: absolute;
                bottom: 0;
                left: -70px;
                -ms-transform: translateZ(70px);
                -webkit-transform:translateZ(70px);
                transform: translateZ(70px);
        
                .left {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    color: white;
                    padding: 30px;
                    
                    h1 {
                        font-family: 'focobold';
                    }
                    
                    h2 {
                        font-family: 'focobold';
                    }
                }
                
                .right {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    padding: 30px;
                    
                    h3 {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 700;
                        font-style: italic;
                        font-size: 24px;
                        line-height: 28px;
                        margin-bottom: 20px;
                        letter-spacing: -1px;
                    }
                    
                    ul {
                        
                        li {
                            font-size: 15px;
                            margin-bottom: 5px;
                            
                            &::before {
                                content: "• ";
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .banner {
                transform: translateZ(100px);
                -moz-transform: translateZ(100px);
                -webkit-transform: translateZ(100px);

                position: absolute;
                right: -160px;
                bottom: -75px;
                width: 380px;
                height: 360px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            div[data-ref=di].main {
                opacity: 0;
                display: none;
                
                .picture {
                    background-image: url('../images/misc/main-di.png');
                }
                
                .more {
                    background-image: url('../images/misc/more-di.png');
                }
            }
            
            div[data-ref=di].banner {
                opacity: 0;
                display: none;
                
                background-image: url('../images/misc/home-di.png');
            }

            div[data-ref=go].main {
                opacity: 0;
                display: none;
                
                .picture {
                    background-image: url('../images/misc/main-go.png');
                }
                
                .more {
                    background-image: url('../images/misc/more-go.png');
                }
            }
            
            div[data-ref=go].banner {
                opacity: 0;
                display: none;
                
                background-image: url('../images/misc/home-go.png');
            }
            
            
            div[data-ref=pe].main {
                display: block;

                .picture {
                    background-image: url('../images/misc/main-pe.png');
                }
                
                .more {
                    background-image: url('../images/misc/more-pe.png');
                }
            }
            
            div[data-ref=pe].banner {
                background-image: url('../images/misc/home-pe.png');
            }
        }
    }
}

div[data-content=di] {

    .cursor {
        background: #c76367;
    }
    
    .solid {
        
        .bottom, .left, .top, .right, .ver, .hor {
            background: #e37478;
        }
    }
    
    .picture {
        margin-left: -114px !important;
        width: 228px !important;
    }
    
    .details {
        
        .left {
            background: #e37478;
            
            h1 {
                font-size: 285px;
                text-align: center;
            }

            h2 {
                font-size: 42px;
                margin: -20px 42px
            }
        }
        
        .right {
            background: white;
            
            li {
                
                &::before {
                    color: #e37478
                }
            }
        }
    }
}

div[data-content=go] {

    .cursor {
        background: white;
    }
    
    .solid {
        
        .bottom, .left, .top, .right, .ver, .hor {
            background: white;
        }
    }
    
    .picture {
        margin-left: -182px !important;
        width: 364px !important;
    }
    
    .details {
        border: 1px solid white;
        
        .left {
            background: #ff8615;
            
            h1 {
                font-size: 245px;
                letter-spacing: -20px;
                margin-top: 25px;
            }

            h2 {
                font-size: 42px;
                margin: 0 15px;
            }
        }
        
        .right {
            background: white;
            color: #5e5e5e !important;
            
            li {
                
                &::before {
                    color: #ff8615
                }
            }
        }
    }
}

div[data-content=pe] {

    .cursor {
        background: #7f2685;
    }
    
    .solid {
        
        .bottom, .left, .top, .right, .ver, .hor {
            background: #7f2584;
        }
    }
    
    .picture {
        margin-left: -144px !important;
        width: 289px !important;
    }
    
    .details {
        border: 1px solid #c7c7c7;
                        
        .left {
            background: #7f2584;
            
            h1 {
                font-size: 280px;
                margin-top: -5px;
            }

            h2 {
                font-size: 37px;
                margin: -25px 20px;
            }
        }
        
        .right {
            background: white;
            
            li {
                
                &::before {
                    color: #7f2584
                }
            }
        }
    }
}